*{
    margin: 0;
    padding: 0;
}

body{
    background: url(images/nature.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* .......................Navbar CSS.......................... */

ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: rgba(0, 0, 0, 0.684);  
  }  
    
  li {  
    float: left;  
  }  
    
  li a {  
    display: block;  
    color: rgb(252, 252, 255);  
    font-size:20px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
  } 

  li a:hover {  
    background-color: white;  
    color: black; 
    border-radius: 7px; 
    text-decoration: none;
  } 

  .active{  
    background-color: gray;  
    color: white;  
  }

  .active:hover{
    background-color: white;
    color: black;
    font-weight: 600;
  }

  .log{
    float: right;
    text-decoration: none;
  }

  /* ..........................Container-1 CSS.......................... */

.box-log{
    height: 300px;
    width: 450px;
    border: 3px solid purple;
    margin-left: 120px;
    margin-top: 150px;
    margin-right: 12px;
    border-radius: 5px;
    background: none;
    
}

#log-id{
    background-color: rgba(137, 43, 226, 0.222);
}

.modal-header h1{
    text-align: center;
    color: white;
    font-size: 25px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 0px;
}


.box{
    width: 85%;
    border-bottom: 2px solid purple;
    margin-left: 35px;
    
    

}
.box i{
    width: 0px;
    text-align: center;
    margin-left: 0px;
    


}
.box input{
    background: none;
    width: 75%;
    margin: 22px 0px;
    outline: none;
    color: rgb(213, 152, 152);
    border: none;
    font-size: 20px;
    
}




  /* ...........................Container-2 CSS............................... */
  .box-reg{
    height: 300px;
    width: 450px;
    margin-left: 120px;
    margin-top: 150px;
    margin-right: 12px;
    border-radius: 5px;
    
  }
  #m_id{
    background-color: rgba(137, 43, 226, 0.222);
  }
  .modal-title{
    font-size: 25px;
    text-align: center;
  }


  /* .......Registration Input CSS......... */

  input[type="text"]{
    margin-left: 86px;
  }
  input[type="tel"]{
    margin-left: 80px;
  }
  
  input[type="email"]{
    margin-left: 87px;
  }
  
  input[type="password"]{
    margin-left: 58px;
  }
  .reg input{
    width: 232px;
  }

  
